@import "../fonts/fonts";

@import "../helpers/mixin";

@import "../components/classes";
@import "../components/header";
@import "../components/footer";
@import "../components/main";


ul li{
    list-style: none;
}

.container{
    width: 1230px;
    margin: 0 auto;
}